@use "./variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: Verdana, sans-serif;
}

.site-container {
  width: 1280px;
  margin: 0 auto;
}

.header-container {
  padding: 1rem 5rem 0.5rem;
  background-color: $secondary-background-color;
}

.site-header {
  display: flex;
  justify-content: space-between;
}

.logo-title {
  color: $primary-text-color;
  font-size: $h3;
  font-weight: 700;
}

.nav {
  &__items {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  &__link {
    font-size: $nav-links;
    color: $nav-link-color;
    text-decoration: none;
    display: inline-block;
    padding: 0 0.1rem 0.75rem;

    &--active {
      border-bottom: 0.25rem solid $secondary-text-color;
    }
  }
}

.footer {
  background-color: $primary-background-color;
}

.footer__container {
  padding: 3rem 13rem;
  display: flex;
  justify-content: space-between;
}

.contact {
  &__title {
    font-size: $h2;
    margin-bottom: 2rem;
    color: $primary-text-color;
  }
  &__subtitle {
    font-size: $footer-subtitles;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: $secondary-text-color;
  }
  &__email-address {
    font-size: $paragraph;
  }
}

.hours-open {
  &__title {
    font-size: $h2;
    margin-bottom: 2rem;
    color: $primary-text-color;
  }
  &__container {
    display: flex;
    gap: 2rem;
  }
  &__subtitle {
    font-size: $footer-subtitles;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: $secondary-text-color;
  }
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    font-size: $h2;
    color: $primary-text-color;
  }

  &__icons-container {
    display: flex;
    gap: 2rem;
  }

  &__icons {
    width: 2rem;
    vertical-align: bottom;

    &--size-adjust {
      width: 1rem;
    }
  }
}
