//color settings

$primary-text-color: #335576;
$secondary-text-color: #db7a4e;
$primary-background-color: #fefaf5;
$secondary-background-color: #fff;
$nav-link-color: #000;

// Common font sizes in all pages
$h2: 1.5rem;
$h3: 1.25rem;
$nav-links: 1rem;
$paragraph: 1rem;
$footer-subtitles: 0.75rem;
