//Common color settings for all pages
$primary-text-color: #335576;
$secondary-text-color: #db7a4e;
$primary-background-color: #fefaf5;
$secondary-background-color: #fff;
$nav-link-color: #000;

// Common font sizes in all pages
$h2: 1.5rem;
$h3: 1.25rem;
$nav-links: 1rem;
$paragraph: 1rem;
$footer-subtitles: 0.75rem;

//Variables and colors exclusive to home page
$h1: 2.5rem;
$button: #fff;
$link: #fff;

//Variables and colors exclusive to destination pages
$h1-destination: 4rem;
$h4-destination: 1.125rem;
$primary-destination-color: #fff;
$secondary-destination-color: #000;
