@use "../partials/global" as *;
@use "../partials/variables" as *;

.footer {
  background-color: $primary-background-color;
}

.footer__container {
  padding: 3rem 11rem;
  display: flex;
  justify-content: space-between;
}

.contact {
  &__title {
    font-size: $h2;
    margin-bottom: 1.5rem;
    color: $primary-text-color;
  }
  &__subtitle {
    font-size: $footer-subtitles;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    color: $secondary-text-color;
  }
  &__email-address {
    font-size: $paragraph;
  }
}

.hours-open {
  &__title {
    font-size: $h2;
    margin-bottom: 1.5rem;
    color: $primary-text-color;
  }
  &__container {
    display: flex;
    gap: 2rem;
  }
  &__subtitle {
    font-size: $footer-subtitles;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    color: $secondary-text-color;
  }
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    font-size: $h2;
    color: $primary-text-color;
  }

  &__icons-container {
    display: flex;
    gap: 2rem;
  }

  &__icons {
    height: 1.5rem;
    vertical-align: bottom;
    object-fit: contain;
  }
}
