@use "../partials/global" as *;
@use "../partials/variables" as *;

.header {
  padding: 1rem 5rem 0.5rem;
  background-color: $secondary-background-color;
  position: fixed;
  width: inherit;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__logo-link {
  color: $primary-text-color;
  font-size: $h3;
  font-weight: 700;
  text-decoration: none;
}

.nav {
  &__items {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  &__link {
    font-size: $nav-links;
    color: $nav-link-color;
    text-decoration: none;
    display: inline-block;
    padding: 0 0.1rem 0.75rem;

    &--active {
      border-bottom: 0.25rem solid $secondary-text-color;
    }
  }
}
